<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UAEP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="/static/css/home-style.css">
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="nav-container">
            <h3 class="nav-icon">UAEP</h3>
            <div class="nav-content">
                <ul>
                    <li><a href="#about-us">About</a></li>
                    <li><a href="/loginpage">Sign-In</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="home">
        <div class="home-container">
            <img src="/static/images/homeback.jpg">
            <h3 class="title-home">
                University Admit Eligibility Predictor
            </h3>
            <p class="home-content">
                We help you to find that you are eligible for higher education
            </p>
            <a href="/predict">
                Click to find you are Eligible
            </a>
        </div>
    </div>
    <div class="about-us" id = 'about-us'>
        <div class="container">
            <h3>
                What we Do
            </h3>
            <p class="about-us-content">
                UAEP is a new web-based University Admissions Predictor.It is an AI based application that asks for the users to input their academic transcripts data and calculates their chances of admission into the University Tier that they selected.Our webiste is incorporated with an AI Model that was built after considering many leading Machine Learning Algorithms, to provide the most accurate prediction of how much of a chance of admissions does a student's current grades and other academic transcripts allow them in the tier of universities of their choice.
            </p>
            
        </div>
    </div>
     <div class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/static/images/members/Ajith.jpg" alt="">
                            </div>
                            <h3 class="title">Team Leader</h3>
                            <p class="description">Aspiring data analyst with a strong math and statistics background; proficient in documenting, interpreting, and analyzing data in a dynamic environment and extensive experience analyzing data through rigorous course work.</p>
                            <div class="testimonial-content">
                                <div class="testimonial-profile">
                                    <h3 class="name">Ajith N</h3>
                                    <span class="post">ML Engineer</span>
                                </div>
                            </div>
                        </div>
         
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/static/images/members/Madhan.jpg" alt="">
                            </div>
                            <h3 class="title">Team Members-1</h3>
                            <p class="description">Positive driven and confident web developer with an apt for learning new technology.Exceptionally creative and talented coder with collaborative skills and passion for building web solutions.</p>
                            <div class="testimonial-content">
                                <div class="testimonial-profile">
                                    <h3 class="name">Madhan Prakash T</h3>
                                    <span class="post">Web Designer</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/static/images/members/Vignesh.jpg" alt="">
                            </div>
                            <h3 class="title">Team Member-2</h3>
                            <p class="description">Computer Engineer with solid coding background and exceptional ability to apply cutting edge UI frameworks (Angular, ReactJS,). have hands on experience in  building interactive web applications, analytical skills, and ability to work in a team-oriented environment.</p>
                            <div class="testimonial-content">
                                <div class="testimonial-profile">
                                    <h3 class="name">Vignesh S</h3>
                                    <span class="post">Web Developer</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/static/images/members/bahathraj.jpg" alt="">
                            </div>
                            <h3 class="title">Team Member-3</h3>
                            <p class="description">Creative data analyst with exceptional information gathering skills looking for a challenging opportunity to incorporate my expertise in data analytics into your organization.</p>
                            <div class="testimonial-content">
                                <div class="testimonial-profile">
                                    <h3 class="name">Baghatraj N</h3>
                                    <span class="post">Data Analyst</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <section class="footer">
        <p class="footer-content">
            <a href="https://github.com/IBM-EPBL/IBM-Project-37700-1660318565"><i class="fa fa-github"></i></a>
            <p>Copyright <i class="fa fa-copyright"></i> All right reserved</p>
        </p>
    </section>
</body> 
</html>